body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*{
    padding: 0px;
    margin: 0px;
}

#container-1{
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    background-color:orange;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px black;
}

#nav-bar{
    width: 35%;
    height: 100%;
    background-color: blue;
    border-radius: 20px 0px 0px 20px;
}

#nav-bar2{
    width: 60%;
    height: 90%;
    border-radius: 20px;
    justify-self: center;
    align-self: center;
   /* border: 1px solid white;*/
    margin: auto;
    background-color:rgb(16, 14, 14) ;
    box-shadow: 3px 3px 3px 3px black;
}

h1{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    font-size: 35px;
    text-align: center;
}


#input input{
    display: flex;
    flex-direction: column;
    height: 35px;
    width: 230px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    border-top: none;
    outline: none;
    padding-left: 1%;
    background-color: orange;
}
::placeholder{
    padding: 10px;
}

h2{
    text-align: center;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

a:hover{
    color:orange;
}

button{
    width: 100px;
    height: 30px;
    color: black;
    background-color: orange;
    margin-left: 160px;
    margin-top: 25px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;

}
h4{
    color: orange;
    margin-left: 110px;
    margin-top: 20px;
}