body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgba(81, 81, 81); 
}

*{
    padding: 0px;
    margin: 0px;

}

#container-1{
    width: 620px;
    height: 380px;
    background-color: rgba(81, 81, 81);
    display: flex;
    flex-direction: row;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 2px 2px rgb(31, 31, 31);
}

#nav-bar{
    width: 57%;
    height: 100%;
    /*border: 1px solid white;*/
    border-radius: 20px 0px 0px 20px;
    background-color: rgba(0, 0, 0, 0.387);
}

#nav-bar2{
    width: 40%;
    height: 90%;
    /*border: 1px solid white;*/
    background-color: rgba(81, 81,);
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.387);
}

h1{
    text-decoration: none;
    color: beige;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 230px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    outline: none;
    border-top: none;
    padding-left: 1%;
}
::placeholder{
    padding: 10px;
}

h2{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    
    font-family: sans-serif;
}
a:hover{
    color: black;
}

button{
    background-color: grey;
    width: 80px;
    height: 28px;
    border-radius: 20px;
    margin-left: 90px;
    margin-top: 10px;
    color: black;
    outline: none;
    border: 1px;
}
h4{
    text-align: center;
    color:beige;
    margin-top: 15px;
}
@media and(max-width:450px){
    
}
